@import url("https://fonts.googleapis.com/css2?family=Comfortaa&family=Lobster&family=Raleway&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --logo-font: "Lobster", cursive;
  --second-font: "Comfortaa", cursive;
  --nav-bg-clr: rgba(113, 113, 249, 0.534);
  --nav-height: 4rem;
  --nav-padding: 1rem;
}
body {
  background-image: url(./stars.jpg);
  font-family: "Raleway", sans-serif;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

ul {
  list-style: none;
}

/* I tried to start with a mobile responsive first and then added media
queries for desktop */

nav {
  background-color: var(--nav-bg-clr);
  display: flex;
  justify-content: center;
  /* align-items: center; */
  height: var(--nav-height);
  padding: var(--nav-padding);
  color: aliceblue;
  position: relative;
  /* position: fixed;
    width: 100%; */
}

nav #logo {
  font-family: var(--logo-font);
  letter-spacing: 1px;
  font-weight: lighter;
  font-size: 1.8rem;
}
ul,
li {
  display: none;
  /* they should be hidden on small screen */
}

#burger-label,
#burger-checkbox {
  position: absolute;
  right: 0;
  display: inline;

  /* they sould be to the right side of
    nave and hidden by default*/

  /* hint: you need positioning and display */
}
#burger-checkbox {
  display: none;
}

/* when checked change ul to appear again */
nav #burger-checkbox:checked + ul {
  /*
        they are hidden so make them
        appear again when checkbox:checked 
    */
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0;
  /* when testing on chrome there was some space between the two backgrounds that was not there in firefox. issue fixed by using em instead of px  */
  top: 4em;
  width: 100%;
  background-color: var(--nav-bg-clr);

  /* 
        and give them different styling so 
        they are flex column and
        also change positioning because
        they should be under nav not inside it
    */

  padding: var(--nav-padding);
  gap: 2rem;
  text-align: center;
  /* hint: you need position, display, and flex-direction */
}
nav #burger-checkbox:checked + ul li {
  /* they are hidden so make them
    appear again when checkbox:checked  */
  display: inline-block;
}

/* main {
    height: 300vh;
} */

@media screen and (min-width: 1100px) {
  #burger-label,
  #burger-checkbox {
    display: none;
  }

  nav {
    display: flex;
    justify-content: space-between;
  }
  nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
  }

  nav ul li {
    display: inline-flex;
    font-weight: 900;
    font-size: 1.1em;
  }
  nav #logo {
    font-size: 2.2rem;
    
    
  }
}
